/* Styling the body */
body {
    display: block;
    margin: 0;
    padding: 0;
    border-style: double;
    background-color: white;
}

/* Header*/
/* Adding a hero image and styling the header*/
header {
    background-color: white;
    border-style: hidden;
    top: 0;
    background-image: url(https://images.unsplash.com/photo-1559827260-dc66d52bef19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80)
}

/* Increase the font use in a header to be clear*/
.font {
    font-size: 2vw;
    padding: 10px;
    color: whitesmoke;
}

/*Styling the image and for the image to be centered*/
img {
    border-radius: 50%;
    margin-right: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

/* Navigation Bar*/
/* Positioning the nav bar*/
.navbar {
    overflow: hidden;
    position: absolute;
    right: 30px;
}
/* Structuring the nav bar*/
#nav {
    display: inline;
    border: 13px hidden;
    margin-left: 10px;
}

/* To remove the blue link line on the navigation bar*/
#nav a {
    font-size: larger;
    color: white;
    text-decoration: none;
}
/* Hover is for the hightlighting the link when selected*/
#nav a:hover {
    background-color: #845ec2;
}
/* used flexbox to avoid content to not overflow*/
section {
    display: flex;
}
/* used flex 2 for the flex boxes to be equal in size*/
article {
    flex: 2;
    background-color: #faccff;
    padding: 10px;
}

aside {
    flex: 2;
    background-color: #dcb0ff;
    padding: 10px;
}

h2 {
    font-size: 1.8em;
}

h3 {
    font-size: 1.7em;
}

h4 {
    font-size: 1.5vw;
}

h5 {
    font-size: 1.3vw;
}
/* to highlight the links when selected*/
a:hover {
    background-color: grey;
}

footer {
    background-color: whitesmoke;
    margin-top: -19.5px;
    margin-bottom: -25px;
    margin: auto;
}
/* use of grid to create 2 columns for contacts and contact form*/
.footer {
    display: grid;
    grid-template-columns: auto auto;
}
/* for the back to top button*/
.button {
    color: #845ec2;
    position: relative;
    bottom: 0px;
    width: fit-content;
    background-color: #be93fd;
    margin-left: auto;
    border: 2px dotted white;
    text-decoration: none;
}

/* Responsive Web Design*/
/* For Mobile devices (up to 768px)*/
@media only screen and (max-width:768px) {
    body{
        text-align: center;
    }
    /*.font{
        text-align: center;
    }*/
    
    section {
        display: flex;
        flex-direction: column;
       /* text-align: center;*/
    }

    img {
        padding-top: 50px;
    }

    header {
        background-image: url(https://images.unsplash.com/photo-1678398315175-32e77ac02145?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1886&q=80);
    }

    h2 {
        font-size: 4vw;
        color: navy;
    }

    h3 {
        font-size: 3vw;
    }

    h4 {
        font-size: 3vw;
    }

    h5 {
        font-size: 2vw;
    }

    aside {
        background-color: #faccff;
        margin-bottom: -6px;
    }

    article {
        background-color: #dcb0ff;
    }
    li{
        list-style-type: none;
    }
    footer {
        background-color: whitesmoke;
        margin-top: -19.5px;
        margin-bottom: -25px;
        margin: auto;
    }

    .footer {
        display: flex;
        flex-direction: column;
        /*text-align: center;*/
    }
}

/* For Tablet of 769px to 1024px*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        background-image: url(https://images.unsplash.com/photo-1512138664757-360e0aad5132?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2071&q=80);
    }

    img {
        padding-top: 50px;
    }

    #nav a {
        color: black;
    }

    h2 {
        font-size: 4vw;
    }

    section{
        display: flex;
        flex-direction: row-reverse
    }

    article {
        background-color: #dcb0ff;
        margin-bottom: -7px;
    }

    aside {
        background-color: #faccff;
        margin-bottom: -7px;
    }

    .skillA {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    footer {
        display: grid;
        margin: auto;
    }
}