body {
    display: block;
    margin: 0;
    padding: 0;
    border-style: double;
    background-color: black;
}
/* Header*/
header {
    background-color: white;
    border-style: hidden;
    top: 0;
}

.hero {
    background-image: url(https://images.unsplash.com/photo-1559827260-dc66d52bef19?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
    background-position-y: 50%;
}

.font {
    font-size: 2vw;
    padding: 10px;
    color: whitesmoke;
}

img {
    border-radius: 50%;
    margin-right: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation Bar*/
.navbar {
    overflow: hidden;
    position: absolute;
    right: 30px;
}

#nav {
    display: inline;
    border: 13px hidden;
    margin-left: 10px;
}

#nav a {
    font-size: larger;
    color: white;
    text-decoration: none;
}

section {
    display: grid;
    grid-template-columns: auto auto;
}

/* for the tablet view on responsive
h2{
    font-size: 4vw;
    color: navy;
}
h3{
    font-size: 3vw;
}
h4{
    font-size: 2vw;
}*/
h2 {
    font-size: 1.5vw;
}

article {
    background-color: #faccff;
    padding: 10px;
}

aside {
    background-color: #dcb0ff;
    padding: 10px;
}

/* Skills flex*/
/*.skills{
    display: grid;
    grid-template-columns: auto auto;
}
.grid{
    padding: 1rem;
}*/
footer {
    background-color: whitesmoke;
    margin-top: -19.5px;
    display: block;
    margin-bottom: -25px;
}

.form{
    flex: 2;
}
.contactdetails{
    flex: 1;
}
.button {
    color: #845ec2;
    position: relative;
    bottom: 0px;
    width: fit-content;
    background-color: #be93fd;
    margin-left: auto;
    border: 2px dotted white;
    text-decoration: none;
}

/* Responsive Web Design*/
/* For Mobile devices (up to 768px)*/
@media only screen and (max-width:768px) {
    section {
        display: flex;
        flex-direction: column;
    }

    img {
        padding-top: 50px;
    }

    .hero {
        background-image: url(https://images.unsplash.com/photo-1678398315175-32e77ac02145?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1886&q=80);
    }

    #nav a {
        color: black;
    }

    h2 {
        font-size: 4vw;
        color: navy;
    }

    h3 {
        font-size: 3vw;
    }

    h4 {
        font-size: 3vw;
    }

    h5 {
        font-size: 2vw;
    }

    aside {
        background-color: #faccff;
        margin-bottom: -5px;
    }

    article {
        background-color: #dcb0ff;
    }
    footer{

    }
}
/* For Tablet of 769px to 1024px*/
@media only screen and (min-width: 769px) and (max-width: 1024px)  {
.hero{
    background-image: url(https://images.unsplash.com/photo-1678509651605-f2c0fa01c49a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
}

    
}





